{% extends "::layout.html.twig" %}

{% block body %}
    <div class="createAccountTitle">
        <h2>Edit your advert</h2>
    </div>
    <div class="formLayout">
        {{ form(form) }}
    </div>
{% endblock %}
