{% extends "::layout.html.twig" %}

{% block body %}
    <div class="createAccountTitle">
        <h1>Create an advert</h1>
    </div>

    <div class="formLayout">
        {{ form(form) }}
    </div>
{% endblock %}