#masthead{
    margin-top: 50px;
}

#leftCol{
    background-color: #db6714;
    color: #FFFFFF;
    height: 100%;
    margin-left: -298px !important;
    position: fixed;
    width: 300px;
}

.category {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
}

#createAccount{
    width: 200px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

#createAccountTitle{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

a{
    color: #ffffff;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:80px;
    height:80px;
    margin-top: 20px;
}